{% load static %}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

#menu_naglowek{
position:absolute;

float: right;
width: 100%;
height:7%;
padding: 0;
margin: 0;
list-style: none;
background: #000;
}

#pierwsze {

display: block;
float: right;
text-align: center;
font-size: 150%;
width: 13%;
top:10%;
text-decoration: none;
color: black;
 font-family: Garamond;
padding: -1.5% 1.5%;
}

#pierwsze:hover {
color: black;


}

#log {
display: block;
float: left;
text-align: left;
font-size: 100%;
width: 20%;
top:10%;
text-decoration: none;
color: white;
font-family: Garamond;
padding: -1.5% 1.5%;
}

#user {
display: block;
float: left;
text-align: left;
font-size: 100%;
width: 20%;
top:10%;
text-decoration: none;
color: white;
font-family: Garamond;
padding: -1.5% 1.5%;
}

a:visited, #logout {
text-decoration: none;
color: white;
}

a:visited, #log {
text-decoration: none;
color: white;
}

#a:hover, #log {
color: white;
}

#a:active, #log {
color: white;
}

#menu{
position:absolute;
float: right;
top:7%;
width: 100%;
height:20%;
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
color: black;

}
#drugie {

display: block;
float: right;
text-align: center;
font-size: 150%;
width: 13%;
text-decoration: none;
color: black;
font-family: Garamond;
padding: 1% 1.5%;
}

a:visited, #drugie {
text-decoration: none;
color: black;
}



#zawartosc{
position: absolute;
top:16%;
bottom:10%;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
background: pink;

}

#logowanie{
position: absolute;
top:10%;
right: 40%;
text-align: center;
padding: 0;
margin: 0;
list-style: none;
}

#panel{
position: absolute;
top:40%;
text-align: center;
padding: 0;
margin: 0;
list-style: none;

}



.box {
    background: #ffc000;
    border-radius: 0px 4px 4px 0px;
    left: -304px;
    padding: 4px 4px 4px 0px;
    position: fixed;
    top: 100px;
    transition: transform 0.4s;
    width: 300px;
}

.box:hover {
    transform: translateX(304px);
}

.box .box__content {
    background: #fff;
    min-height: 200px;
    padding: 10px;
    position: relative;
}

.box .box__title {
    background: #fff;
    border: solid #ffc000;
    border-radius: 0px 0px 4px 4px;
    border-width: 0px 4px 4px;
    cursor: default;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -74px;
    text-align: center;
    top: 70px;
    transform: rotate(-90deg);
    width: 106px;
}

.grid {
   -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    overflow: hidden;
    margin-left: 160px;
    margin-right: 160px;
  }
.grid img {
  width: 100%;
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    #opacity: 0.8;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

.nav-link {
font-family: "Amatic SC";
    color: white;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.text-block {
  position: absolute;
  bottom: 65%;
  right: 20%;
   color: white;
  font-size: 20px;

}
.bg {
  /* The image used */
  background-image: url("{% static 'tlo.jpg' %}");


  /* Full height */

height: 300px;
  /* Center and scale the image nicely */
  background-size: 300px 100px;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 80%;

}

.profilowe{
position: absolute;
right: 85%;
border-radius: 50%;
}

.nazwa{
position: absolute;
width: 150px;
right: 71%;
bottom: 66%;
border-radius: 50%;
color:white;
font-size: 180%;
font-family: 'Montserrat', sans-serif;
}


.fixed{
    position: fixed;
    width:100%;
    top:8%;
    z-index:20;
}



.nav-link{
font-family: 'Oswald',font-weight:300;  sans-serif!important;
}





.zdjecie
{
position: relative;
}

.tabelka
{
position:absolute;
top: 130%;
right: 35%;
width:150px;
padding:5px;
}

.tabelka2
{
position:absolute;
top: 100%;
right: 50%;
width:150px;
padding:5px;
}


.container_zdjecie
{
position: relative;
}

.back{
position:absolute;

right: 80%;

}

.nav-link {
    white-space: nowrap !important;
}




.myButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}



.myButton2 {
	box-shadow: 0px 1px 0px 0px #ffb0c0;
	background:linear-gradient(to bottom, #ff6666 5%, #ff2441 100%);
	background-color:#ff6666;
	border-radius:6px;
	border:1px solid #ff2424;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ff6699;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #ff2441 5%, #ff6666 100%);
	background-color:#ff2441;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.zdjecie_albumu{
height:100px;
width: 100px;
}








.rating {
   position: relative;
   width: 180px;
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .3em;
   padding: 5px;
   overflow: hidden;
   border-radius: 20px;
   box-shadow: 0 0 2px #b3acac;
}

.rating__result {
   position: absolute;
   top: 0;
   left: 0;
   transform: translateY(-10px) translateX(-5px);
   z-index: -9;
   font: 3em Arial, Helvetica, sans-serif;
   color: #ebebeb8e;
   pointer-events: none;
}

.rating__star {
   font-size: 1.3em;
   cursor: pointer;
   color: #dabd18b2;
   transition: filter linear .3s;
}

.rating__star:hover {
   filter: drop-shadow(1px 1px 4px gold);
}




.gwiazdka{
padding: 0;
border: none;
background: none;
}



.gwiazdka:after button{
padding: 0;
border: none;
background: none;
}

.gwiazdka:active:after button{
padding: 0;
border: none;
background: none;
}



.gwiazdka:hover, .gwiazdka:focus button{
  outline: none;
}



