{% load static %}

{% include 'header_nav.html' %}





<main class="grid">



{% for Galeria in posts %}

<a href="{% url 'fotopage' slug=Galeria.slug %}" ><img src="{{Galeria.zdjecie.url}}" method="get" alt="Tekst alternatywny" width= "x" height="y"></a>


{% endfor %}

</main>





{% if posts.has_other_pages %}
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="waves-effect"><a href="?page=
                    {{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                    class="material-icons">&laquo;</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">&laquo;</i></a></li>
        {% endif %}
        {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
                <li class="active"><a href="#!">{{ num }}</a></li>
            {% else %}
                <li class="waves-effect"><a
                        href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <li class="waves-effect"><a
                    href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                    class="material-icons">&raquo; </i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">&raquo;</i></a></li>
        {% endif %}
    </ul>
{% endif %}





<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script>
window.onscroll = function() {myFunction()};
var header = document.getElementById("nav2");


var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("fixed");
  } else {
    header.classList.remove("fixed");
  }
}
</script>
</body>
</html>

